#contenitore_utenti {
    margin-top:20px;
    margin-left:80px;
}

#tutenti {
    border:solid 2px darkgoldenrod;
    text-align:center;
    border-collapse:collapse;
}

.bordi {
    border-right: solid 2px darkgoldenrod;
}

th.bordi {
    border-bottom: 2px solid darkgoldenrod;
}


