#contenitore_utenti {
    margin-top:5px;
    margin-left:70px;
}

#utenti {
    border:solid 2px darkgoldenrod;
    border-collapse: collapse;
    text-align:center;
}

.bordi {
    border:solid 2px darkgoldenrod;
}