#carrello_contenitore{
    margin-top: 25px;
    padding-top: 20px;
    width:100%;
}

#messaggio h3 {
    padding-top:5px;
    margin-left:20px;
}

#carrello_contenitore h1 {
    margin-left:20px;
    margin-bottom:0;
}

#prodotti_carrello {
    display:inline;
    float:left;
    padding: 15px 25px 15px 30px;
    text-align:center;
}

#acquisto {
    text-align:center;
    margin-top:5px;
    width:100%;
    float:right;
}
