section{
    padding-top: 80px;
}

.contenuto{
    padding-top: 50px;
    text-align: justify;
    display: inline;
}

#trama{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
}

.colonna_L{
    display: inline;
    padding: 8px;
    float: left;
    width: auto;
}

.colonna_R{
    display: inline;
    padding: 10px;
    float: right;
    width: 72%;
    align-content: center;
}

.im_prodotto{
    width: 280px;
    height: 450px;
    outline: 4px solid #424242;
    -moz-outline-radius: 6px;
}