body {
    background-color: #303030;
    color: #cccccc;
    margin: 0;
    font-family: monospace, "Roboto Thin";
}

#sezione_prodotti {
    padding-top: 74px;
}

#prodotti {
    padding: 5px;
    width: auto;
    text-align: center;
}