body {
    background-color: #303030;
    color: #cccccc;
    margin: 0;
}

.barra {
    width: 100%;
    height: 58px;
    position: fixed;
    background-color: rgba(0,0,0,0.1);
}

.barra a {
    float: left;
    text-align: center;
    padding:5px;
    color: #cccccc;
}

.barra a:hover {
    background-color: #424242;
}

.barra .ricerca {
    float: left;
    padding: 10px;
}

.barra input[type=text] {
    margin-right: 0;
    margin-top: 3px;
    padding: 5px;
    font-size: 18px;
    border-bottom: #cccccc 2px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 2px;
    background-color: #212121;
    color: #cccccc;
}

.barra .ricerca button {
    float: right;
    border: none;
    background-color: #212121;
    padding: 2px;
    margin-top: 3px;
}

.barra .ricerca button:hover {
    background: #424242;
}

#scelta_categorie {
    margin: 8px;
    padding: 4px;
    font-size: 18px;
    border: none;
    background-color: #212121;
    color: #cccccc;
}

footer {
    background-color: #212121;
    left: 0;
    bottom: 0;
    height: 520px;
    width: 100%;
    color:#cccccc;
}

.info_footer h4 {
    margin:20px;
}

.info_footer h5 {
    margin:35px;
}

.info_footer .material-icons.md-light.md-24 {
    margin-left:10px;
    font-size:50px;
}

#contenuto_basso {
    padding: 20px;
}

#goup {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; /* Make sure it does not overlap */
    border: none;
    outline: none;
    background-color: #303030;
    color: #cccccc;
    cursor: pointer;
    padding: 6px;
    border-radius: 12px;
    opacity: 0.8;
}

.material-icons.md-light {
    color: white;
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#sezione_prodotti {
    padding-top: 74px;
}

#prodotti {
    padding: 5px;
    height: 120px;
    width: 100px;
    align-content: center;
}

.barra #logo {
    width: 50px;
    height: 50px;
}

a .material-icons.md-36.md-light {
    font-size:30px;
    margin-top:6px;
    padding-top:6px;
}

#loghi a {
    float:right;
}